<StackLayout>
  <ActivityIndicator
    [busy]="inProgress"
    width="25"
    height="25"
    class="activity-indicator"
  ></ActivityIndicator>
  <Label *ngIf="inProgress" [text]="inProgressText"></Label>
  <Label *ngIf="completed" [text]="completedText"></Label>
</StackLayout>
