<app-marketing-frame [isPopup]="isPopup">
  <div class="account-column__inner account-column__inner--right">
    <div class="account-column__right-heading">
      <h1 class="heading-medium">Log&nbsp;In</h1>
      <div class="account-column__link">
        <a class="text-link text-link--caret text-link--large" id="btn-signup" href="javascript:void(0)" (click)="toggleDisplay()"
          tabindex="1">Not&nbsp;registered? Sign&nbsp;up</a>
      </div>
    </div>

    <form novalidate [ngrxFormState]="form" (submit)="onSubmit()" class="auth-form__form">
      <app-non-field-messages *ngIf="errorMessage" [messages]="[errorMessage]"></app-non-field-messages>

      <div class="form-field form-field--large">
        <app-form-label [for]="form.controls.email.id" [isLarge]="true">
          Email
        </app-form-label>
        <input type="email" autofocus [ngrxFormControlState]="form.controls.email" class="form-field__input" [ngClass]="{
            'form-field__input--invalid': form.errors._email && form.isSubmitted
          }"
          tabindex="2" />
      </div>

      <ul *ngIf="form.isInvalid && form.isSubmitted" class="form-field__error-list">
        <li *ngIf="form.errors._email" class="form-field__error">
          Enter your account's email address.
        </li>
      </ul>

      <div class="form-field form-field--large">
        <div class="form-field__wrapper-for-link">
          <app-form-label [for]="form.controls.password.id" [isLarge]="true">
            Password
          </app-form-label>
          <aside-link tabindex="8" [link]="['/reset-password']">
            <span class="u-visible--all-but-small">Forgot? </span>Recover&nbsp;your&nbsp;account
          </aside-link>
        </div>

        <input type="password" [ngrxFormControlState]="form.controls.password" class="form-field__input" [ngClass]="{
            'form-field__input--invalid':
              form.errors._password && form.isSubmitted
          }"
          tabindex="3" />
      </div>

      <ul *ngIf="form.isSubmitted" class="form-field__error-list">
        <li *ngIf="form.errors._password" class="form-field__error">
          Enter your account's password.
        </li>
      </ul>

      <div *ngIf="!isExtension">
        <app-checkbox title="Stay logged in on this device" [control]="form.controls.rememberMe" tabNumber="4"></app-checkbox>
      </div>

      <app-server-select *ngIf="isExtension" [showUrlControl]="form.controls.showUrl" [urlControl]="form.controls.url"
        [formErrors]="form.errors"></app-server-select>

      <div class="auth-form__actions">
        <button id="loginSubmit" class="button button--large button--green" [disabled]="hasLoginStarted" type="submit"
          tabindex="7">
          Log in
        </button>

        <progress-indicator [inProgress]="hasLoginStarted" inProgressText="Logging In" [completed]="hasLoginFinished"
          completedText="Logged In"></progress-indicator>
      </div>
    </form>
  </div>
</app-marketing-frame>