<div class="account l-container-narrow u-margin-tb-50">
  <a class="text-link text-link--left-caret heading-back-link" [routerLink]="['/account']">
    Account Management
  </a>

  <h2 class="heading-main heading-main--pad-bottom">
    Change&nbsp;Account<br />Password&nbsp;&<br />Backup&nbsp;Code
  </h2>

  <div class="register-step__feedback" *ngIf="!hasFinished">
    <div class="text--large text--less-bottom-margin">
      For your security, Passit replaces your backup code when you change your
      password. Make sure you save your new code.
    </div>
    <div class="text--large">
      Only want a new backup code?
      <a class="text-link text-link--caret text-link--large" href="javascript:void(0)" [routerLink]="['/account/change-backup-code']">
        Change backup code
      </a>
    </div>
  </div>

  <form
    novalidate
    [ngrxFormState]="form"
    (submit)="onSubmit()"
    *ngIf="!hasFinished"
    class="form-field form-field--large"
  >

    <app-non-field-messages [messages]="nonFieldErrors"></app-non-field-messages>

    <div class="form-field form-field--large">
      <div class="form-field__wrapper-for-link">
        <app-form-label [for]="oldPassword" [isLarge]="true">Current Password</app-form-label>
        <aside-link (click)=onForgotPassword.emit()>
            <span class="u-visible--all-but-small">Forgot? Log&nbsp;out&nbsp;to&nbsp;reset</span>
        </aside-link>
      </div>

      <input
        type="password"
        [ngrxFormControlState]="form.controls.oldPassword"
        class="form-field__input form-field__input--one-action"
        [class.form-field__input--invalid]="form.errors._oldPassword && form.isSubmitted"
        name="oldPassword"
        autocomplete="off"
      />
    </div>

    <ul
      *ngIf="form.errors._oldPassword && form.isSubmitted"
      class="form-field__error-list"
    >
      <li *ngIf="form.errors._oldPassword.required" class="form-field__error">
        You must enter your current password
      </li>
      <li *ngIf="form.errors._oldPassword.minLength" class="form-field__error">
        Password must be at least
        {{ form.errors._oldPassword.minLength.minLength }} characters long.
      </li>
    </ul>

    <app-password-input
      [showConfirm]="form.controls.showConfirm"
      [newPassword]="form.controls.newPassword"
      [newPasswordConfirm]="form.controls.newPasswordConfirm"
      [errors]="form.errors"
      [isSubmitted]="form.isSubmitted"
      (toggleConfirm)="toggleConfirm.emit()"
    ></app-password-input>

    <div class="change-password__actions">
      <button
        type="submit"
        id="changePass"
        class="button button--primary"
        [disabled]="hasStarted"
      >
        Change Password
      </button>

      <progress-indicator
        [inProgress]="hasStarted"
        inProgressText="Saving"
        [completed]="hasFinished"
        completedText="Saved"
      ></progress-indicator>
    </div>

    <div class="change-password__note" [@flyInOut]="true" *ngIf="hasStarted">
      We’re currently changing your password. This takes a little while, so
      don’t navigate away.
    </div>
  </form>

  <div class="form-field form-field--large">
    <app-form-label *ngIf="hasFinished" [isLarge]="true" [isComplete]="true">
      Change Password
    </app-form-label>
  </div>

  <app-download-backup-code
    [hasFinished]="hasFinished"
    class="register-step__feedback"
    [code]="backupCode"
  >
  </app-download-backup-code>
</div>
