<div class="form-field form-field--large">
  <app-form-label
    [isLarge]="true"
    [isInactive]="!hasFinished"
    [isComplete]="false"
  >
    Download PDF with New Backup Code
  </app-form-label>
</div>

<div *ngIf="hasFinished">
  <div class="register-step__feedback">
    <div class="text--large text--less-bottom-margin">
      Your backup code is the <strong>only</strong> way to recover your account
      if you forget&nbsp;your&nbsp;password.
    </div>
    <div class="text--large text--less-bottom-margin">
      Download it, print it out, and save it someplace safe. Destroy your old
      backup&nbsp;code&nbsp;file.
    </div>
  </div>
  
  <div class="u-margin-b-20">
    <button (click)="downloadPDF()" class="button button--primary">
      Download
    </button>
    <button class="button button--text" href="javascript:void(0)" [routerLink]="['/account']">
        Skip (not recommended)
      </button>
  </div>

  <div class="manage-backup-code__note">
    Your previous code is now invalid. If you press "Skip" or navigate away from this page, you
    will not be able to use&nbsp;this&nbsp;code&nbsp;either.
  </div>
</div>
