@import '../node_modules/normalize-scss/sass/normalize';
@include normalize();

// apply a natural box layout model to all elements, but allowing components to change
// https://www.paulirish.com/2012/box-sizing-border-box-ftw/

html {
  box-sizing: border-box !important;
  font-family: 'Overpass', Arial, Helvetica, sans-serif !important;
}
*, *:before, *:after {
  box-sizing: inherit !important;
  font-family: inherit !important;
}

@import './styles/layouts';
@import './styles/utility';

@import './styles/colors';
@import './styles/buttons';
@import './styles/fonts';
@import './styles/text';
@import './styles/inputs';
@import './styles/links';
@import './styles/headings';
@import './styles/icons';
@import './styles/tooltips';
@import './styles/select2';

button,
input,
optgroup,
select,
textarea {
  font-family: 'Overpass', Arial, Helvetica, sans-serif !important;
}

