<div class="account l-container-narrow u-margin-tb-50">
  <a class="text-link text-link--left-caret heading-back-link" [routerLink]="['/account']">Account Management</a>

  <h2 class="heading-main heading-main--pad-bottom">Forgot Your Password?</h2>
  
  <div class="register-step__feedback">
    <div class="text--large text--less-bottom-margin">
      If you forgot your password, you will need to recover your account.
    </div>
    <div class="text--large">
      Do you have your backup code? Your backup code is contained in a PDF that you printed or saved when you created your Passit account.
    </div>
  </div>

  <h3 class="heading-small">I have my backup code</h3>

  <ul class="text--large text--less-bottom-margin">
    <li><a class="text-link text-link--caret text-link--large" href="javascript:void(0)" (click)="onLogOut()">Log&nbsp;out</a></li>
    <li>Click the “Recover your account” link on the login&nbsp;page</li>
    <li>Follow the steps to change your password</li>
  </ul>
  
  <h3 class="heading-small">I don’t have my backup code</h3>
  
  <div class="text--large text--less-bottom-margin">
    If you didn’t save your backup code, then you will need to transfer your passwords to a new account. Since we require your password to delete your account, you will not be able to do so. Therefore, you will need to use a different email address for your new account.
  </div>

  <ul class="text--large text--less-bottom-margin">
    <li><a class="text-link text-link--caret text-link--large" href="javascript:void(0)" [routerLink]="['/export']">Export your passwords</a></li>
    <li>Register a new account</li>
    <li><a class="text-link text-link--caret text-link--large" href="javascript:void(0)" [routerLink]="['/import']">Import your passwords</a></li>
  </ul> 